/*
  1. Posicionamiento
  2. Modelo de caja (Box Model)
  3. Tipografía
  4. Visuales
  5. Miscelaneos - otros.
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  /* font-family: 'Inter', sans-serif; */
}